<h1>Listing tweets</h1>

<table class="table table-condensed">
  <tr>
    <th>Created at</th>
    <th>Text</th>
    <th>Source</th>
    <th>Lang</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%# success, error, warning, info %>

<% @tweets.each do |tweet| %>
  <% if tweet.sentiment == "positive" %>
  <tr class="success">
  <% elsif tweet.sentiment == "negative" %>
  <tr class="error">
  <% else %>
  <tr>
  <% end %>
    <td><%= tweet.created_at %></td>
    <td><%= tweet.text %></td>
    <td><%= tweet.source %></td>
    <td><%= tweet.sentiment %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<%# <%= will_paginate @tweets, :renderer => BootstrapPagination::Rails %>

</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
