<h3>Home</h3>

<h3>Users</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
<br />

<% if @tweets %>
<h3>Tweets</h3>
<table class="table table-striped">
	<tr>
		<th>Created at</th>
		<th>Text</th>
		<th>Gender</th>
		<th>Sentiment</th>
	</tr>
	<% @tweets.each do |tweet| %>
	<tr>
		<td><%= tweet.created_at %></td>
		<td><%= tweet.text %></td>
		<td><%= tweet.gender %></td>
		<td><%= @b.classify tweet.text %></td>
	</tr>
	<% end %>
</table>
<% end %>

