<h1>Listing corpus_anews</h1>

<table>
  <tr>
    <th>Sword</th>
    <th>Valmnall</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @corpus_anews.each do |corpus_anews| %>
  <tr>
    <td><%= corpus_anews.sword %></td>
    <td><%= corpus_anews.valmnall %></td>
    <td><%= link_to 'Show', corpus_anews %></td>
    <td><%= link_to 'Edit', edit_corpus_anews_path(corpus_anews) %></td>
    <td><%= link_to 'Destroy', corpus_anews, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Corpus anew', new_corpus_anews_path %>
