<p id="notice"><%= notice %></p>

<p>
  <b>Sword:</b>
  <%= @corpus_anews.sword %>
</p>

<p>
  <b>Valmnall:</b>
  <%= @corpus_anews.valmnall %>
</p>


<%= link_to 'Edit', edit_corpus_anews_path(@corpus_anews) %> |
<%= link_to 'Back', corpus_anews_path %>
